.venv/
updatereqs.ps1
analysis/*
!analysis/output/
analysis/output/*
!analysis/output/mfeat_run_1/
analysis/output/mfeat_run_1/*
!analysis/output/mfeat_run_1/*.png
!analysis/output/mfeat_run_1/*/
analysis/output/mfeat_run_1/*/*
!analysis/output/mfeat_run_1/*/*.png
!analysis/output/mfeat_run_1/*/latent_analysis/
analysis/output/mfeat_run_1/*/latent_analysis/*
!analysis/output/mfeat_run_1/*/latent_analysis/*.png
reports/*
!reports/
!reports/*.pdf
**/__pycache__/
*.pyc
*.pyo
*.pyd
AGENTS.